<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sungjae.com.app.showmethemoney">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sungjae.app.showmethemoney.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.sungjae.app.showmethemoney.receiver.ServiceLaunchReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LAUNCH_APP" />
            </intent-filter>
        </receiver>

        <service android:name="com.sungjae.app.showmethemoney.service.OperationService">
            <intent-filter>
                <action android:name="OperationService"/>
            </intent-filter>
        </service>

        <provider
            android:name="com.sungjae.app.showmethemoney.provider.TradeProvider"
            android:authorities="trade"
            android:exported="false" />
        <activity android:name="com.sungjae.app.showmethemoney.activity.setting.SettingsActiviy"></activity>
    </application>

</manifest>